@inherits LayoutComponentBase

<PageTitle>Employee Skill Hub</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://www.linkedin.com/in/amriteshsaini" target="_blank">LinkedIn</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
